@model IEnumerable<Expenditure>
@{
    ViewData["Title"] = "Expend";
}
<HTML>
<body>
    <table>
        <tr>
            <th>Nom&nbsp;</th>
            <th>Date&nbsp;</th>
            <th>Prix&nbsp;</th>
            <th>Total&nbsp;</th>
        </tr>
        @foreach (var expend in Model)
        {
            <tr>
                <th>@expend.name &nbsp;&nbsp;</th>
                <th>@expend.date &nbsp;&nbsp;</th>
                <th>@expend.price &nbsp;&nbsp;</th>
            </tr>
        }
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            @{
                int total = 0;
            }
            @foreach (var expend in Model)
            {
                total = total + expend.price;
            }
            <th>@total</th>
        </tr>
    </table>
</body>
</HTML>
